@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
  font-size: 16px;
  margin: 0;
}

.head {
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
}

.head__title {
  margin: 0;
  font-size: 25px;
  color: var(--very-dark-blue);
}

.head__title--number {
  color: var(--white);
  background-color: var(--blue);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.head__mark {
  margin: auto 0 auto auto;
  color: var(--dark-grayish-blue);
}

.notification {
  display: flex;
  margin-bottom: 10px;
  padding: 16px;
}

.notification>* {
  margin-bottom: auto;
}

.notification--unread {
  background-color: var(--very-light-grayish-blue);
}

.notification__avatar {
  height: 45px;
}

.notification__body {
  margin-left: 16px;
}

.notification__name {
  font-weight: 800;
}

.notification__sent {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid black;
}

.notification__picture {
  margin-left: auto;
  height: 45px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}