@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
  /* Primary */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
  font-size: 16px;
}

.head {
  display: flex;
}

.head__title {
  margin: 0;
  font-size: 25px;
  color: var(--very-dark-blue);
}

.head__title--number {
  color: var(--white);
  background-color: var(--blue);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.head__mark {
  margin: auto 0 auto auto;
  color: var(--dark-grayish-blue);
}

.notification {
  display: flex;
}

.notification>* {
  margin-bottom: auto;
}

.notification--unread {
  background-color: var(--very-light-grayish-blue);
}

.notification__avatar--mark {
  content: url(assets/images/avatar-mark-webber.webp);
}

.notification__avatar--angela {
  content: url(assets/images/avatar-angela-gray.webp);
}

.notification__avatar--jacob {
  content: url(assets/images/avatar-jacob-thompson.webp);
}

.notification__avatar--rizky {
  content: url(assets/images/avatar-rizky-hasanuddin.webp);
}

.notification__avatar--kimberly {
  content: url(assets/images/avatar-kimberly-smith.webp);
}

.notification__avatar--nathan {
  content: url(assets/images/avatar-nathan-peterson.webp);
}

.notification__avatar--anna {
  content: url(assets/images/avatar-anna-kim.webp);
}

.notification__name {
  font-weight: 800;
}

.notification__comment--chess {
  content: url(assets/images/image-chess.webp);
}

.notification__sent {
  border: 1px solid black;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}